
.banner{
  /* background-color: currentColor; */
  min-height: 50vh;
  /* padding-top: 18rem; */
}

.container{
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  
}

.container h2{
  font-weight: 700;
  /* color: #3d3d3d; */
  font-size: 5rem;
  max-width: 50%;
  text-align: center;
  margin: 5rem auto;
  margin-bottom: 1rem;
}

.container p{
  margin: 0 auto;
  text-align: center;
  /* max-width: 45rem; */
  line-height: 1.4;
  font-size: 1.8rem;
  /* color: #3d3d3d; */
  font-weight: 400;
  margin-bottom: 2rem;
}

.container input{
  background-color: #fff;
  height: 4rem;
  border: 1px solid rgba(0, 0, 0, .1);
  padding: 0 1rem;
  font-size: 1.4rem;
}

.container .input{
  display: flex;
  gap: 2rem;
}

.container button{
 background-color: #ffcc50;
 border-radius: .5rem;
 padding: .3rem 1rem;
 width: 15rem;
 text-align: center;
 /* color: #3d3d3d; */
 font-weight: 600;
}

.container > div{
  display: flex;
  flex-direction: column;
}
.container > div >button {
  padding: 1.5rem 2rem;
  margin: 0 auto;
  text-align: center;
  background-color: var(--clr-primary);
  color: #f2f6fa;
  font-weight: 500;
  line-height: 1rem;
}

.container img{
}

.animate ul{
  display: flex;
  justify-content: space-between;
  gap: 10rem;
}


.animate ul li{
  width: 100px ;
  /* border: 1px solid red; */

}


.animate{
  position: absolute;
  left: 0;
  display: flex;
  overflow: hidden;
  width: 200%;
  animation: marquee 20s linear infinite;
  top: 0;
  transform: translate(0, -50);
}

.animate ul{
  margin-right: 10rem;
}
.animate:hover{
  animation-play-state: paused;
}

.section{
  position: relative;
  overflow: hidden;
  height: 7rem;
  /* background-color: #fff; */
  padding-bottom: 15rem;
}

.section_alt{
  position: relative;
  height: 40rem;
  background-color: #fff;
  display: grid;
  place-items: center;
  z-index: 0;
  /* padding-block: 10rem; */
  color: #fff;
  font-size: 5rem;
  font-weight: 600;
  margin-bottom: 5rem;
}

.section_alt::after{
  content: '';
  position: absolute;
  background-image: linear-gradient(45deg, #12c2e9, #c471ed, #f64f59);
  transform: skewY(-5deg);
  inset: 0;
  z-index: -1;
}

.section_spike{
  position: relative;
  height: 40rem;
  margin-block: 20rem;
  background: #fdc820;
  display: grid;
  place-items: center;
  color: #fff;
  font-size: 5rem;
  font-weight: 600;
  margin-bottom: 5rem;
}

.section_spike::after,
.section_spike::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 4rem;
  background-color: #fff;
  background: #fdc820;
  left: 0;
  -webkit-mask-image: url('/montain.svg');
  -webkit-mask-size: 4rem;
  -webkit-mask-repeat: repeat-x;
}


.section_spike::after{
  bottom: -1rem;
  transform: rotate(.5turn);
}

.section_spike::before{
  top: -1rem;
  /* transform: rotate(1turn); */
}

@keyframes marquee {
  0% {left: 0}
  100% {left: -100%}
}