
.banner{
  /* background-color: currentColor; */
  min-height: 50vh;
  background-color: #1a1a1a;
  color: #fff;
  text-align: left;
  padding: 4rem 0;
}

.container{
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 65vh;
  
}

.container h2{
  font-weight: 600;
  font-size: clamp(3rem, 10vw + 1rem, 7rem);
  max-width: 90%;
  margin-block: 1rem;
  line-height:1.2;
}

.container h4{
  font-size: 2.2rem;
  font-weight: 300;
}

.container input{
  background-color: #fff;
  height: 4rem;
  border: 1px solid rgba(0, 0, 0, .1);
  padding: 0 1rem;
  font-size: 1.4rem;
}

.container .input{
  display: flex;
  gap: 2rem;
}

.container button{
 background-color: var(--clr-primary);
 border-radius: .5rem;
 padding: .3rem 1rem;
 width: 15rem;
 margin-top: 4rem;
 text-align: center;
 font-weight: 600;
  font-size: 1.4rem;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
}

.container button i{
  font-size: 2.2rem;
}

.container > div{
  display: flex;
  flex-direction: column;
}
.container > div >button {
  padding: 1.5rem 2rem;
  margin: 0 auto;
  text-align: center;
  background-color: var(--clr-primary);
  color: #f2f6fa;
  font-weight: 500;
  line-height: 1rem;
}

.container img{
}

.animate ul{
  display: flex;
  justify-content: space-between;
  gap: 10rem;
}


.animate ul li{
  width: 100px ;
  /* border: 1px solid red; */

}


.animate{
  position: absolute;
  left: 0;
  display: flex;
  overflow: hidden;
  width: 200%;
  animation: marquee 20s linear infinite;
  top: 0;
  transform: translate(0, -50);
}

.animate ul{
  margin-right: 10rem;
}
.animate:hover{
  animation-play-state: paused;
}

.section{
  position: relative;
  overflow: hidden;
  height: 7rem;
  /* background-color: #fff; */
  padding-bottom: 15rem;
}

.section_timeline{
  background-color: #121212;
  padding-block: 5rem;
}

.section_timeline > h2{
  color: #fff;
  text-align: center;
  font-weight: 600;
  /* letter-spacing: .2rem; */
  font-size: 2.5rem;

}
.section_alt{
  position: relative;
  height: 40rem;
  background-color: #fff;
  display: grid;
  place-items: center;
  z-index: 0;
  /* padding-block: 10rem; */
  color: #fff;
  font-size: 5rem;
  font-weight: 600;
  margin-bottom: 5rem;
}

.section_alt::after{
  content: '';
  position: absolute;
  background-image: linear-gradient(45deg, #12c2e9, #c471ed, #f64f59);
  transform: skewY(-5deg);
  inset: 0;
  z-index: -1;
}

.section_spike{
  position: relative;
  height: 40rem;
  margin-block: 20rem;
  background: #fdc820;
  color: #fff;
  font-size: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  margin-bottom: 5rem;
}

.section_spike h2{
  max-width: 70%;
}

.section_spike::after,
.section_spike::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 4rem;
  background-color: #fff;
  background: #fdc820;
  left: 0;
  -webkit-mask-image: url('/montain.svg');
  -webkit-mask-size: 4rem;
  -webkit-mask-repeat: repeat-x;
}


.section_spike::after{
  bottom: -1rem;
  transform: rotate(.5turn);
}

.section_spike::before{
  top: -1rem;
  /* transform: rotate(1turn); */
}

.section_clients{
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 5rem;
}

.section_clients h2{
  margin-bottom: 4rem;
  font-weight: 600;
  font-size: 2rem;
  text-align: center;
}

.section_clients ul{
  display: flex;
  gap: 10rem;
}


.section_clients ul li{
  opacity: .5;
  transition: .3s;
}

.section_clients ul li:hover{
  opacity: .9;
}

.operation{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  padding-block: 6rem;
  width: min(90%, 1200px) ;
  margin-inline: auto;
}

.operation h2{
  font-size: clamp(2rem, 10vw + 1rem, 4rem);
  font-weight: 700;
  max-width: 45rem;
}

.operation p{
  font-size: clamp(1rem, 10vw + 1rem, 1.6rem);
  max-width: 45rem;
  margin-top: 2rem;
  line-height: 1.4;
}

@keyframes marquee {
  0% {left: 0}
  100% {left: -100%}
}

.timeline{
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 2rem auto;
}

.timeline_event{
  margin-bottom: 2rem;
  position: relative;
  display: flex;
  margin-block: 2rem;
  border-radius: .5rem;
  align-self: center;
  width: 50vw;
  align-items: center;
  gap: 2rem;
}

.timeline_event_content {
  padding: 20px;
  box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25), 0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  background: #fff;
  width: calc(60vw - 84px);
  border-radius: 0 6px 6px 0;
  font-size: 1.4rem;
  z-index: 99;
  background-color: #2d2d2d;
  color: #f2f6fa;
}

.timeline_event:nth-child(2n+1) {
  flex-direction: row-reverse;
}

.timeline_event:nth-child(2n+1) .timeline_event_icon:before {
  content: "";
  width: 2px;
  height: 100%;
  background: var(--clr-primary);
  position: absolute;
  top: 0%;
  left: 50%;
  right: auto;
  transform: translateX(-50%);
  -webkit-animation: fillTop 2s forwards 4s ease-in-out;
          animation: fillTop 2s forwards 4s ease-in-out;

}

.timeline_event:nth-child(2n+1) .timeline_event_icon:after {
  content: "";
  width: 100%;
  height: 2px;
  background: var(--clr-primary);
  position: absolute;
  right: 0;
  z-index: -1;
  top: 50%;
  left: auto;
  z-index: 9;

  transform: translateY(-50%);
  -webkit-animation: fillLeft 2s forwards 4s ease-in-out;
          animation: fillLeft 2s forwards 4s ease-in-out;
}

.timeline_event_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--clr-primary);
  padding: .5rem;
  align-self: center;
  margin: 0 1rem;
  background: #87bbfe;
  border-radius: 100%;
  width: 2rem;
  box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25), 0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  padding: 2rem;
  height: 2rem;
  z-index: 9;
  position: relative;
}

.timeline_event_icon:before {
  content: "";
  width: 2px;
  height: 100%;
  background: var(--clr-primary);
  position: absolute;
  top: 0%;
  z-index: -1;
  left: 50%;
  transform: translateX(-50%);
  -webkit-animation: fillTop 2s forwards 4s ease-in-out;
          animation: fillTop 2s forwards 4s ease-in-out;
}

.time_type_last .timeline_event_icon::before{
  content: "";
  width: 20px;
  height: 100%;
  background: transparent;
  position: absolute;
  top: 0%;
  z-index: -1;
  left: 50%;
  transform: translateX(-50%);
  -webkit-animation: fillTop 2s forwards 4s ease-in-out;
          animation: fillTop 2s forwards 4s ease-in-out;
}


.timeline_event_icon:after {
  content: "";
  width: 100%;
  height: 2px;
  background: var(--clr-primary);
  position: absolute;
  left: 0%;
  z-index: -1;
  top: 50%;
  transform: translateY(-50%);
  -webkit-animation: fillLeftOdd 2s forwards 4s ease-in-out;
          animation: fillLeftOdd 2s forwards 4s ease-in-out;
}

.timeline_event_icon {
  background: var(--clr-primary);
  color: #f1f6fa;
  font-size: 3rem;
}

.newsletter{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 15rem;
  padding: 4rem;
}

.newsletter h2{
  font-size: 2.2rem;
  font-weight: 500;
  margin-bottom: 3rem;
}

.newsletter > form{
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: .5rem;
  width: min(95%, 500px);
}

.newsletter > form input{
  background-color: transparent;
  padding: 1rem;
  font-size: 1.4rem;
}

.newsletter > form button{
  background-color: var(--clr-primary);
  color: #f2f6fa;
  padding: 1rem;
  border-radius: .5rem;
  margin-right: 1rem;
  font-size: 1.4rem;
}


@media (max-width: 786px) {

  .operation{
    flex-direction: column-reverse;
    margin: 0 auto;
    text-align: center;
  }
  .timeline_event {
    flex-direction: column;
    align-self: center;
    width: 80%;
  }
  .timeline_event_content {
    width: 100%;
  }
  .timeline_event_icon {
    border-radius: 6px 6px 0 0;
    width: 100%;
    margin: 0;
    box-shadow: none;
  }
  .timeline_event_icon:before, .timeline_event_icon:after {
    display: none;
  }
  .timeline_event_date {
    border-radius: 0;
    padding: 20px;
  }
  .timeline_event:nth-child(2n+1) {
    flex-direction: column;
    align-self: center;
  }
  .timeline_event:nth-child(2n+1) .timeline_event_date {
    border-radius: 0;
    padding: 20px;
  }
  .timeline_event:nth-child(2n+1) .timeline_event_icon {
    border-radius: 6px 6px 0 0;
    margin: 0;
  }
}
@-webkit-keyframes fillLeft {
  100% {
    right: 100%;
  }
}
@keyframes fillLeft {
  100% {
    right: 100%;
  }
}
@-webkit-keyframes fillTop {
  100% {
    top: 100%;
  }
}
@keyframes fillTop {
  100% {
    top: 100%;
  }
}
@-webkit-keyframes fillLeftOdd {
  100% {
    left: 100%;
  }
}
@keyframes fillLeftOdd {
  100% {
    left: 100%;
  }
}